<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="myCtrl">
<button ng-click="show()">show\hidden</button>
<div ng-model="isChange" my-dire>
    这是对应的content
</div>
</body>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app=angular.module("appModule",[]);
    app.controller("myCtrl",["$scope",function($scope){
        $scope.isChange=true;
        $scope.show=function(){
            $scope.isChange=!$scope.isChange;
        }
    }]);
    app.directive("myDire",function(){
        return {
            restrict:"EA",
            scope:{
                s:"=ngModel"
            },
            link:function(scope,element,attrs){
                if(scope.s){
                    console.log(scope.s);
                    element.css("background","red");
                }else{
                    element.css("background","black");
                }
            }
        }
    })


</script>
</html>