<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="parentCtrl">
    总价<input type="text" ng-model="total" ng-change="changeTotal()">
    <div ng-controller="childCtrl">
        商品名称{{name}} <br>
        商品价格{{price}}<br>
        商品数量<input type="text" ng-model="count">
    </div>
</div>

</body>
<script src="lab/angular/angular.js"></script>
<script>
    var app=angular.module("appModule",[]);
    //$on $emit $broadcast
    //控制器不能复用，控制器间交互数据，要通过事件的方式
    app.controller("parentCtrl",function($scope){
        $scope.total=10;
        $scope.changeTotal=function(){
            $scope.$broadcast("我要改变total",$scope.total);
        };
        //$watch()虽然很好用，但是却很消耗性能，所以能少用尽量少用，所以为优化，这里创建了一个changeTotal方法，在这个方法中向下广播，给total的input绑定ng-click,当
      /*  $scope.$watch("total",function(newVal){
            $scope.$broadcast("我要改变total",newVal);
        });*/
        $scope.$on("我要改变数量",function(event,data){
            console.log(data);
            $scope.total=data;
        });
    });
    app.controller("childCtrl",function($scope){
        $scope.price=10;
        $scope.count=1;
        $scope.name="plane";
        $scope.$watch("count",function(newVal){
            $scope.$emit("我要改变数量",newVal*$scope.price);//emit向上发射，自己也知道

        });
        $scope.$on("我要改变total",function(event,data){
            $scope.count=data/$scope.price;
        });
    });
</script>
</html>